In [1]:
#This is to create a connection with MySQL Workbench on my local machine

import mysql.connector
from mysql.connector import Error
from datetime import datetime

#connect to the database
def connect ():
    return mysql.connector.connect(
    host ="localhost",
    user ="root",
    password ="admin123"
)

myDB = connect()
print(myDB)

<mysql.connector.connection.MySQLConnection object at 0x0000014C3FDC5E20>

In [2]:
#This to find out the databases in my workbench
   
mycursor = myDB.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('album',)
('information_schema',)
('library_management_system',)
('mysql',)
('new_samledb',)
('performance_schema',)
('scratch',)
('sys',)
('university',)
('world',)

In [3]:
import mysql.connector

myDB = mysql.connector.connect(
    host ="localhost",
    user ="root",
    password ="admin123",
    database = "library_management_system"
)
mycursor = myDB.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('books',)
('members',)
('transactions',)

In [4]:
#ADD   New add_book function

def add_book():
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"
    )
    cursor = myDB.cursor()

    #Accept input or use hardcoded values
    title = input("Enter book title: ")
    Author = input("Enter author name: ")
    Genre = input("Enter genre")
    Year = input("Enter Published Year: ")
    Price = input("Enter price: ")

    try:
        query = "INSERT INTO books (title, Author, Genre, PublishedYear, Price) VALUES (%s, %s, %s, %s, %s)"
        cursor.execute(query, (title, Author, Genre, Year, Price))
        myDB.commit()
        print("‚úÖ Book added successfully.")
    except Exception as e:
        print("‚ùå Error adding book:", e)
    finally:
        myDB.close()

#Show All books
def show_books():
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"

    )   
    cursor = myDB.cursor()
    cursor.execute("SELECT * FROM books")

    result = cursor.fetchall()

    print("üìö Books in database:")  
    for row in result:
        print(row)
    myDB.close()           

#use the functions
add_book()
#show_books()

‚úÖ Book added successfully.

In [5]:
mycursor = myDB.cursor()

mycursor.execute("select* from books")

result = mycursor.fetchall()
for x in result:
    print(x)

(5, 'Discounted - The Hobbit', 'J.R.R. Tolkien', 'Classic', 9, 2009)
(10, ' Discounted - The Brothers Karamazov', 'Mark Twain', 'Dystopian', 44, 2021)
(12, ' Discounted - Brave New World', 'Charlotte Bront√´', 'Adventure', 30, 2016)
(13, 'Brave New World', 'Aldous Huxley', 'Dystopian', 250, 1932)
(14, 'After Life', 'Ivan Driwale', 'Fiction', 260, 2015)
(15, 'Waymakwe', 'Jesus', 'Gospel', 200, 2025)

In [6]:
#ADD NEW MEMBER

def add_member():
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"
    )

    FirstName = input("Enter your First Name:")
    LastName  = input("Enter Last Name:")
    Email     = input("Enter your email address:")
    Phone     = input("Enter your Phone number:")


    cursor = myDB.cursor()
    query = "INSERT INTO members (FirstName, LastName, Email, Phone) VALUES (%s, %s, %s, %s)"
    cursor.execute(query, (FirstName, LastName, Email, Phone))
    
    print("‚úÖ new member added.")

    myDB.close()

add_member()

‚úÖ new member added.

In [7]:
mycursor = myDB.cursor()

mycursor.execute("select* from members")

result = mycursor.fetchall()
for x in result:
    print(x)

(1, 'Bob', 'Brown', 'bob.brown1@example.com', '2318214282')
(2, 'Bob', 'Williams', 'bob.williams2@example.com', '5665269972')
(3, 'John', 'Brown', 'john.brown3@example.com', '3683771866')
(4, 'Jane', 'Garcia', 'jane.garcia4@example.com', '1331593436')
(5, 'Bob', 'Miller', 'bob.miller5@example.com', '2350512957')
(6, 'John', 'Jones', 'john.jones6@example.com', '1665700352')
(7, 'John', 'Williams', 'john.williams7@example.com', '6947827383')
(8, 'Daisy', 'Doe', 'daisy.doe8@example.com', '9271146033')
(9, 'Charlie', 'Smith', 'charlie.smith9@example.com', '5168727656')
(10, 'John', 'Brown', 'john.brown10@example.com', '7163210669')
(11, 'John', 'Garcia', 'john.garcia11@example.com', '2840486613')
(12, 'John', 'Williams', 'john.williams12@example.com', '7342223534')
(13, 'Charlie', 'Doe', 'charlie.doe13@example.com', '1688992193')
(14, 'Ella', 'Miller', 'ella.miller14@example.com', '7967579804')
(15, 'Grace', 'Jones', 'grace.jones15@example.com', '5500641842')
(16, 'Henry', 'Smith', 'henry.smith16@example.com', '4015538159')
(17, 'Jane', 'Brown', 'jane.brown17@example.com', '4636550145')
(18, 'Charlie', 'Martinez', 'charlie.martinez18@example.com', '8876773816')
(19, 'Alice', 'Davis', 'alice.davis19@example.com', '6409499867')
(20, 'Bob', 'Smith', 'bob.smith20@example.com', '5017877648')

In [8]:
# Issue a book with user input and validation
def issue_book(bookID=None, memberID=None):
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"
    )
    if myDB is None:
        return

    try:
        cursor = myDB.cursor()

        # Prompt for input
        #book_id = int(input("Enter Book ID to issue: "))
        #member_id = int(input("Enter Member ID: "))
        if bookID is None:
            bookID = int(input("Enter Book ID to issue: "))
            
        if memberID is None:
            memberID = int(input("Enter Member ID: "))

        # Check if book exists
        cursor.execute("SELECT title FROM books WHERE ID = %s", (bookID,))
        book = cursor.fetchone()
        if not book:
            print("‚ùå Book ID not found.")
            return

        # Check if member exists
        cursor.execute("SELECT name FROM members WHERE ID = %s", (memberID,))
        member = cursor.fetchone()
        if not member:
            print("‚ùå Member ID not found.")
            return

        # Check if the book is already issued and not returned
        cursor.execute("""
            SELECT *
            FROM transactions
            WHERE BookID = %s AND ReturnDate IS NULL
        """, (bookID,))
        already_issued = cursor.fetchone()
        if already_issued:
            print("‚ö†Ô∏è This book is currently issued and hasn't been returned.")
            return

        # Issue the book
        cursor.execute("""
            INSERT INTO transactions (BookID, MemberID, IssueDate)
            VALUES (%s, %s, CURDATE())
        """, (bookID, memberID))
        myDB.commit()

        print(f"üìö Book '{book[0]}' successfully issued to {member[0]}.")
    except ValueError:
        print("‚ùå Invalid input. Please enter numeric IDs.")
    except Error as e:
        print(f"‚ùå Database error: {e}")
    finally:
        myDB.commit()

In [9]:
issue_book()

‚ùå Database error: 1054 (42S22): Unknown column 'name' in 'field list'

In [17]:
# Return a book and calculate fine
def return_book(transactionID):
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"
    )
    if myDB is None:
        return
    try:
        cursor = myDB.cursor()
        cursor.execute("UPDATE transactions SET ReturnDate = CURDATE() WHERE ID = %s", (transactionID,))
        cursor.execute("""
            SELECT 
                CASE 
                    WHEN DATEDIFF(ReturnDate, IssueDate) > 14 THEN (DATEDIFF(ReturnDate, IssueDate) - 14) * 5
                    ELSE 0
                END AS fine
            FROM transactions
            WHERE ID = %s
        """, (transactionID,))
        fine = cursor.fetchone()[0]
        print(f"‚úÖ Book returned. Fine: ‚Çπ{fine}")
        myDB.commit()
    except Error as e:
        print(f"‚ùå Error returning book: {e}")
    finally:
        myDB.close()

In [18]:
#Show full transaction history using JOINs
def show_transactions():
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"
        
    )
    if myDB is None:
        return
    try:
        cursor = myDB.cursor()
        query = """
        SELECT 
            t.ID AS TransactionID,
            b.title AS BookTitle,
            CONCAT(m.FirstName, ' ', m.LastName) AS MemberName,
            t.IssueDate,
            t.ReturnDate
        FROM transactions t
        JOIN books b ON t.BookID = b.ID
        JOIN members m ON t.MemberID = m.ID
        ORDER BY t.IssueDate DESC
        """
        cursor.execute(query)
        rows = cursor.fetchall()
        for row in rows:
            print(row)
    except Error as e:
        print(f"‚ùå Error fetching transactions: {e}")
    finally:
        myDB.close()

In [19]:
show_transactions()

In [20]:
#search books by keyword
def search_books(keyword):
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"
        
    )
    if myDB is None:
        return
    try:
        cursor = myDB.cursor()
        query  = "SELECT * FROM books WHERE title LIKE %s"
        cursor.execute(query, ('%' + keyword + '%',))
        results = cursor.fetchall()

        for book in results:
            print(book)
    except Error as e:
        print(f"‚ùå Error searching books: {e}")   
    finally:
        myDB.close()

In [14]:
search_books('After')

(14, 'After Life', 'Ivan Driwale', 'Fiction', 260, 2015)

In [21]:
#Analytics: Most issued books

def most_issued_books(limit=5):
    myDB = mysql.connector.connect(
        host="localhost",
        user="root",
        password="admin123",
        database="library_management_system"

    )
    if myDB is None:
        return
    try:
        cursor = myDB.cursor()
        query = """
        SELECT b.title, COUNT(t.ID) as times_issued
        FROM transactions t
        JOIN books b on t.BookID = b.ID
        GROUP BY t.BookID
        ORDER BY times_issued DESC
        LIMIT %s
        """
        cursor.execute(query, (limit,))  # Added comma to make it a tuple
        results = cursor.fetchall()
        print("üìä Most Issued Books:")
        for row in results:
            print(f"{row[0]} - {row[1]} times")
    except Error as e:
        print(f"‚ùå Error fetching analytics: {e}")
    finally:
        myDB.close()

In [16]:
most_issued_books(limit=2)

üìä Most Issued Books: